body { 
  background: url(../img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div#wrap {
  background: rgba(245, 245, 245, 0.85);
}

.top-buffer {
  margin-top: 35px;
}
