#carousel-head {
  margin: auto -15px;
}

#carousel-head div.carousel-inner {
  position: relative;
  height: 400px;
}

#carousel-head div.carousel-inner img {
  position: absolute;
  left: -100%;
  right: -100%;
  margin: 0 auto;
  max-width: inherit;
  min-width: 100%;
}

#carousel-head ol.carousel-indicators {
  left: auto;
  right: 50px;
  top: 50px;
  width: auto;
}

#carousel-head .carousel-indicators li {
  display: block;
}

#nav-primary {
  background: rgba(0, 0, 0, 0.8);
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
  margin: auto -15px;
  width: 100%;
}

#nav-primary.affix-top {
  position: absolute;
  top: -52px;
}

#nav-primary.affix {
  position: fixed;
  top: 0;
  width: 100%;
}
