.dark {
  background-color: #333333;
  color: #dddddd;
}

.buffer-top {
  padding-top: 30px;
}

.buffer-bottom {
  padding-bottom: 30px;
}

#carousel-head {
  margin: auto -15px;
}

#carousel-head div.carousel-inner div {
  height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#carousel-head ol.carousel-indicators {
  left: auto;
  right: 50px;
  top: 50px;
  width: auto;
}

#carousel-head .carousel-indicators li {
  display: block;
}

#nav-primary {
  background: rgba(0, 0, 0, 0.9);
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
  margin: auto -15px;
  width: 100%;
  z-index: 1;
}

#nav-primary.affix-top {
  position: absolute;
  top: -52px;
}

#nav-primary.affix {
  position: fixed;
  top: 0;
  width: 100%;
}
