#carousel-head {
  margin: auto -15px;
}

#carousel-head div.carousel-inner div {
  height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#carousel-head ol.carousel-indicators {
  left: auto;
  right: 50px;
  top: 50px;
  width: auto;
}

#carousel-head .carousel-indicators li {
  display: block;
}

#nav-primary {
  background: rgba(0,0,0,.8);
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
  margin: auto -15px;
  width: 100%;
}

#nav-primary.affix-top {
  position: absolute;
  top: -52px;
}

#nav-primary.affix {
  position: fixed;
  top: 0;
  width: 100%;
}
