/*!
 * Roots 6.5.2
 */

$bootstrap-sass-asset-helper: false;
@import "bootstrap/bootstrap";
@import "bootstrap/mixins";

/* ==========================================================================
   Variables
   ========================================================================== */

$banner-height: 500px;
$navbar-height: 50px;
$adminbar-height: 32px;
$adminbar-height-mobile: 46px;


/* ==========================================================================
   Base
   ========================================================================== */

body { }


/* ==========================================================================
   Header
   ========================================================================== */

.banner {
    height: $banner-height;

    #carousel-head {
        div.carousel-inner div {
            height: $banner-height;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        ol.carousel-indicators {
            left: auto;
            right: 50px;
            top: 50px;
            width: auto;
        }

        .carousel-indicators li {
            display: block;
        }
    }

    .navbar {
        background: rgba(0,0,0,0.9);
        border: none;
        border-bottom: 5px solid #ff4d1b;
        position: absolute;
        top: $banner-height - $navbar-height;
        width: 100%;
   
        .navbar-brand {
            background: #fff;
            border-right: 4px solid #555555;

            span.brand {
                color: #ff4d1b;
                font-weight: bold;
            }
        }

        .navbar-header {
            z-index: 1;
        }

        .navbar-nav {
            font-size: 1.1em;
            font-weight: bold;
        }

        div.mobile-cart a {
            @extend .btn, .btn-default;
            @extend .visible-xs;
            float: right;
            margin: 8px 15px;
        }
    }

    .affix {
        position: fixed;
        top: 0px !important;
        width: 100%;
    }
}


/* ==========================================================================
   Adminbar
   ========================================================================== */

html #wpadminbar {
    z-index: 1000 !important;
}

body.admin-bar {
    .navbar {
        top: $banner-height - $navbar-height + $adminbar-height; 
    }

    .affix {
        margin-top: $adminbar-height;
    }

    @media screen and (max-width: 782px) {
        .navbar {
            top: $banner-height - $navbar-height + $adminbar-height-mobile;
        }

        .affix  {
            margin-top: $adminbar-height-mobile;
        }
    }

    @media screen and (max-width: 600px) {
        .affix  {
            margin-top: 0px;
        }
    }
}


/* ==========================================================================
   Content
   ========================================================================== */

.wrap {
    width: 100%;

    .section {
        padding: 70px;
    }

    .woocommerce ul.products li.product {
        margin-right: 2.5%;
    }
}

.dark {
  background-color: #333333;
  color: #dddddd;
}



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: $screen-sm-min) { }

@media (min-width: $screen-md-min) { }

@media (min-width: $screen-lg-min) { }
