/*!
 * Roots 6.5.2
 */

$bootstrap-sass-asset-helper: false;
@import "bootstrap/bootstrap";

/* ==========================================================================
   Variables
   ========================================================================== */

$banner-height: 500px;
$navbar-height: 50px;
$adminbar-height: 32px;
$adminbar-height-mobile: 46px;


/* ==========================================================================
   Base
   ========================================================================== */

body { }


/* ==========================================================================
   Header
   ========================================================================== */

.banner {
    height: $banner-height;

    #carousel-head {
        div.carousel-inner div {
            height: $banner-height;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        ol.carousel-indicators {
            left: auto;
            right: 50px;
            top: 50px;
            width: auto;
        }

        .carousel-indicators li {
            display: block;
        }
    }

    .navbar {
        background: rgba(0,0,0,0.9);
        border: none;
        position: absolute;
        top: $banner-height - $navbar-height;
        width: 100%;
    }
   
    .navbar-header {
        z-index: 1;
    }

    .affix {
        position: fixed;
        top: 0px !important;
        width: 100%;
    }
}


/* ==========================================================================
   Adminbar
   ========================================================================== */

body.admin-bar {
    .navbar {
        top: $banner-height - $navbar-height + $adminbar-height; 
    }

    .affix {
        margin-top: $adminbar-height;
    }

    @media screen and (max-width: 782px) {
        .navbar {
            top: $banner-height - $navbar-height + $adminbar-height-mobile;
        }

        .affix  {
            margin-top: $adminbar-height-mobile;
        }
    }

    @media screen and (max-width: 600px) {
        .affix  {
            margin-top: 0px;
        }
    }
}


/* ==========================================================================
   Content
   ========================================================================== */

.wrap {
    width: 100%;

    .section {
        padding: 70px;
    }
}

.dark {
  background-color: #333333;
  color: #dddddd;
}



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: $screen-sm-min) { }

@media (min-width: $screen-md-min) { }

@media (min-width: $screen-lg-min) { }
